@charset "utf-8";
// Vendors
// Utils
@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";
// Base
@import "base/reset";
@import "base/typography";
// Layout
@import "layout/header";
@import "layout/forms";
@import "layout/footer";

.m-0 {
	margin: 0;
}
.mr-40 {
	margin-right: 40px; 
	@media (max-width: 640px) {
		margin-right: 20px;
	}
}
.ml-30 {
	margin-left: 30px;
}
.ml-40 {
	margin-left: 40px;
	@media (max-width: 640px) {
		margin-left: 20px;
	}
}
.white {
	color: $white;
}
.black {
	color: $black;
}
.fp-section.fp-table, .fp-slide.fp-table {
	@media (max-width: 769px) {
		height: auto !important;
	}
}
.fp-tableCell {
	@media (max-width: 769px) {
		height: 100% !important;
	}
}
.hide-mobile {
	@media (max-width: 769px) {
		display: none !important;
	}
}
.mobile-only {
	display: none;
	@media (max-width: 769px) {
		display: block;
	}
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	@media(max-width: 768px) {
		max-width: 630px;
	}
}
.fader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 98;
}
.left-box {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	max-width: 465px;
	width: 100%;
	flex-shrink: 0;
}
.connect,.submit {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 80px;
	font-weight: bold;
	font-size: 24px;
	color: $white-f7;
	background: $light-black;
	outline: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	@media (max-width: 769px) {
		width: 150px;
		height: 60px;
		font-size: 18px;
	}
	&:hover {
		background: $red;
	}
}
.title-page {
	@media (max-width: 769px) {
		padding-top: 112px;
	}
	@media (max-width: 640px) {
		padding-top: 60px;
		.container {
			padding-left: 0;
			padding-right: 0;	
		}
	}
	.top-line {
		position: relative;
		z-index: 3;
		b {
			padding-top: 20px;
			font-size: 30px;
			margin-left: 75px;
			display: flex;
			@media (max-width: 769px) {
				min-width: 250px;
				height: 40px;
				align-items: center;
				padding: 0;
				margin: 0;
				font-size: 18px; 
			}
			@media (max-width: 640px) {
				min-width: 200px;
				padding-left: 20px;
			}
		}
		h2 {
			min-width: 300px;
			height: 140px;
			background: $white-f7;
			display: flex;
			align-items: center;
			justify-content: center;
			@media (max-width: 769px) {
				min-width: 150px;
				height: 40px;
				font-size: 36px;
				position: relative;
				bottom: -20px; 
			}
		}	
	}
	.center-line {
		margin-top: -40px;
		position: relative;
		z-index: 2;
		@media (max-width: 769px) {
			margin: 0; 
		}
		img {
			position: relative;
			z-index: 2;
		}
		.rtl-animation {
			position: relative;
			margin-right: 40px;
			@media (max-width: 769px) {
				display: none;
			}
			i {
				display: block;
				width: 50px;
				height: 3px;
				background: $light-black;
				position: absolute;
				bottom: -15px;
				right: -40px;
				z-index: 1;
				animation: left-to-right 3s;
				animation-delay: 2s;
			}
		}
		.ltr-animation {
			position: relative;
			margin-left: 25px;
			@media (max-width: 769px) {
				display: none;
			}
			i {
				width: 50px;
				height: 5px;
				background: $light-black;	
				position: absolute;
				top: -20px;
				right: 0px;
				z-index: 1;
				animation: right-to-left 3s;
				animation-delay: 2s;
			}
		}
	}
	.bottom-line {
		margin-top: -40px;
		position: relative;
		z-index: 3;
		@media (max-width: 769px) {
			margin: 0; 
		}
		h2 {
			min-width: 700px;
			height: 100px;
			background: $white-f7;
			display: flex;
			align-items: center;
			@media (max-width: 769px) {
				min-width: 250px;
				height: 40px;
				font-size: 30px;
				position: relative;
				top: -20px;
			}
			@media (max-width: 640px) {
				padding-left: 20px;
			}
		}	
	}
	.connect {
	    position: absolute;
	    right: 10px;
    	bottom: 110px;
    	z-index: 2;
    	@media (max-width: 769px) {
    		position: relative;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		margin: 20px auto 60px;
    	}
	}
}
.slider-section {
	position: relative;
	.left-box {
		h2 {
			margin-bottom: 100px;
		}
	}
	.right-box {
		position: relative;
		.digit-holder {
			justify-content: flex-end;
			margin-top: -130px;
			span {
				font-size: 200px;
				font-weight: bold;
				&.zero {
					position: relative;
					z-index: 9;
				}
			}	
		}
	}
	h3 {
		margin-bottom: 20px;
	}
	.owl-nav {
		display: none;
	}
	.owl-dots {
	    position: absolute;
	    right: 50px;
	    top: 50%;
	    display: flex;
	    flex-direction: column-reverse;
	    transform: translateY(-50%);
	    button {
	    	width: 30px;
	    	height: 40px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			text-align: center;
			color: #1C1C1C;
	    	transform: rotate(-90deg);
	    	&:hover {
	    		background: $red;
	    	}
	    	&:focus {
	    		outline: 0;
	    	}
	    	&.active {
	    		background: $red;
	    	}
		    span {
		    	font-size: 18px;
				font-weight: bold;
				text-align: center;
				
		    }	
	    }
	}
	.connect {
	    position: absolute;
	    left: -30px;
	    right: 0;
	    margin: 0 auto;
	    top: 37%;
    	z-index: 2;
	}
	.mobile-only {
		.container {
			flex-direction: column;
			padding: 0;
			&:first-of-type {
				margin-bottom: 60px;
			}
			&:last-of-type {
				margin-bottom: 100px;
				@media (max-width: 640px) {
					.bottom-box {
						justify-content: flex-end !important;
					}
				}
			}
			h3 {
				display: flex;
				align-items: center;
				height: 40px;
				font-size: 18px;
				margin: 0;
				@media (max-width: 640px) {
					padding: 0 20px;	
				}
			}	
			p {
				margin-bottom: 20px;
				font-size: 14px;
				width: 70%;
				@media (max-width: 640px) {
					padding: 0 20px;	
				}
			}
			img {
				max-width: 300px;
				@media (max-width: 640px) {
					max-width: 188px;
				}
			}
			h2 {
				font-size: 40px;
				@media (max-width: 640px) {
					font-size: 24px;
				}
			}
		}
	}
}
.conditions {
	.container {
		padding-top: 30px;
		padding-bottom: 30px; 
		.left-box {
			max-width: 800px;
			flex-shrink: inherit;
			h2 {
				position: relative;
				&:before {
					content: '';
					display: block;
					width: 100px;
					height: 8px;
					background: $light-black;
					position: absolute;
					left: 0;
					top: -20px;
				}
			}
			div {
				display: flex;
				align-items: center;
				position: relative;
				span {
					display: block;
					width: 50px;
					height: 3px;
					background: $light-black;
					margin-right: 10px;
					position: absolute;
					left: 0;
				}
				p {
					display: flex;
					align-items: center;
					height: 40px;
    				margin-left: 60px;
				}	
			}
			
		}
		.right-box {
			flex-shrink: 0;
			li {
			    display: flex;
	    		align-items: center;
	    		justify-content: flex-end;	
				height: 60px;
				font-weight: bold;
				font-size: 24px;
				color: $light-black;
			}
		}
	}
	.detail {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 40px;
	    max-width: 1200px;
    	width: 100%;
    	margin: 0 auto;
    	text-align: right;
	}
	.mobile-only {
		.container {
			flex-direction: column;
			padding-top: 0;
			padding-bottom: 0;
			.right-box {
				li {
					height: 40px;
					font-size: 18px;
				}
			}
			&:first-of-type {
				@media (max-width: 640px) {
					margin-bottom: 40px;
				}
				.right-box {
					li {
						justify-content: flex-start;
					}
				}
			}
			&:last-of-type {
				margin-bottom: 100px;
			}
			h2 {
				font-size: 28px;
				margin-bottom: 15px;
				position: relative;
				@media (max-width: 640px) {
					br {
						display: none;
					}
				}
				&:before {
					content: '';
					display: block;
					width: 70px;
					height: 4px;
					background: $light-black;
					position: absolute;
					left: 0;
					top: -20px;
				}
			}
			h3 {
				display: flex;
				align-items: center;
				height: 40px;
				font-size: 18px;
				margin: 0;
			}	
			p {
				display: flex;
				align-items: center;
				height: 20px;
				margin-bottom: 40px;
				font-size: 14px;
				span {
					width: 38px;
					height: 2px;
					background: $light-black;
				}
			}
			
		}
	}
}
.contacts {
	.container {
		@media (max-width: 769px) {
			flex-direction: column;
		}
		@media (max-width: 640px) {
			padding: 0;
		}
		.left-box {
			@media (max-width: 769px) {
				order: 1;
				max-width: 100%;
				flex-direction: row;
				flex-wrap: wrap;
			}
			@media (max-width: 640px) {
				padding: 0 20px;
				flex-direction: column;
			}
			h3 {
				margin-bottom: 45px;
				@media (max-width: 769px) {
					font-size: 18px;
					width: 100%;
					margin-bottom: 20px;
				}
			}
			div {
				@media (max-width: 769px) {
					width: 45%;
				}
				@media (max-width: 640px) {
					width: 100%;
				}
				p {
					display: flex;
					align-items: center;
					height: 40px;
					margin-bottom: 20px;
					@media (max-width: 769px) {
						height: 20px;
						font-size: 14px;
						&:last-child {
							margin-bottom: 0;
						}
						&:first-child {
							margin-top: 10px;
						}
					}
					@media (max-width: 640px) {
						&:last-child {
							margin-bottom: 40px;
						}
					}
					b {
						margin-right: 10px;
						@media (max-width: 769px) {
							margin-right: 5px;
						}
					}
					a {
						color: $light-black;
					}
				}
			}
			form {
				@media (max-width: 769px) {
					width: 50%;
				}
				@media (max-width: 640px) {
					width: 100%;
				}
				input {
					max-width: 400px;
					width: 100%;
					height: 40px;
					display: flex;
					align-items: center;
					border: 0;
					border-bottom: 1px solid $light-black;
					margin-bottom: 30px;
					-webkit-appearance: none;
					appearance: none;
					outline: 0;
					background: transparent;
					&:last-child {
						margin-bottom: 0;
					}
					@media (max-width: 769px) {
						max-width: 300px;
						width: 100%;
					}
					@media (max-width: 640px) {
						max-width: 100%;
					}
				}
			}	
		}
		.map-holder {
			max-width: 600px;
			width: 100%;
			flex-shrink: 0;
			height: 500px;
			@media (max-width: 769px) {
				height: 320px;
				order: 0;
				margin-bottom: 52px;
			}
			@media (max-width: 640px) {
				height: 200px;
				order: 0;
				margin-bottom: 20px;
			}
		}
		.connect {
			position: absolute;
			left: -30px;
			right: 0;
			margin: 0 auto;
			bottom: 50px;
			@media (max-width: 769px) {
				position: relative;
				order: 2;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 60px auto;
			}
		}
	}
}
.connect-page {
	#header {
		background: $white;
		@media (max-width: 769px) {
			#myMenu	{
				background: $white;
			}
		}
		@media (max-width: 640px) {
			background: $white-f7;
			#myMenu	{
				background: $white-f7;
			}
		}
	}
	.footer {
		min-height: 50px;
	}
}
.form-holder {
	padding-top: 100px;
	@media (max-width: 640px) {
		padding: 50px 20px 0;
	}
	.form-row {
		max-width: 1000px;
		margin: 0 auto 100px;
		@media (max-width: 769px) {
			margin-bottom: 60px;
		}
		&:nth-child(3) {
			margin-bottom: 10px;
			@media (max-width: 769px) {
				margin-bottom: 60px;
			}
		}
		&:nth-child(4) {
			@media (max-width: 769px) {
				margin-bottom: 10px;
			}
		}
		.left-box {
			max-width: 500px;
			width: 100%;
			@media (max-width: 769px) {
				max-width: 100%;
			}
			h3 {
				display: flex;
				align-items: center;
				height: 50px;
				margin-bottom: 40px;
				@media (max-width: 769px) {
					font-size: 18px;
					margin: 0;
				}
			}
			select,input {
			    width: 100%;
			    height: 40px;
			    display: flex;
			    align-items: center;
			    border: 0;
			    border-bottom: 1px solid #1c1c1c;
			    margin-bottom: 30px;
			    appearance: none;
			    outline: 0;
			    background: none;
			    border-radius: 0;
			    position: relative;
			}
			input.error {
				background: url(../images/error.svg) no-repeat;
				background-size: 15px;
				background-position: center right;
			}
			select {
				justify-content: space-between;
                background: url(../images/arrow-gray.svg) no-repeat;
                background-size: 9px 6px;
                background-position: center right;
			}
			label.error {
				margin-top: -20px;
				height: 20px;
				font-size: 12px;
				color: #E32636;
			}
		}
		.right-box {
			max-width: 300px;
			width: 100%;
			flex-shrink: 0;
			text-align: center;
			margin-top: 50px;
			@media (max-width: 769px) {
				max-width: 100%;
				margin: 0;
			}
			.box__input {
				width: 300px;
				height: 300px;
				background: url(../images/square.svg) no-repeat;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				margin-bottom: 40px;
				@media (max-width: 769px) {
					width: 262px;
					height: 60px;
					background: #DEDEDE;
					font-weight: bold;
					text-align: center;
					margin: 0 auto 10px;
					img {
						display: none;
					}
				}
				span {
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					font-weight: bold;
					font-size: 18px;
					color: #C5C5C5;
					@media (max-width: 769px) {
						color: #F7F7F7;	
					}
				}
			}
			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				text-decoration: underline;
				color: #1C1C1C;
				@media (max-width: 769px) {
					display: flex;
				}
			}
		}
		.label-container {
			display: inline-flex;
			position: relative;
			height: 40px;
			align-items: center;
			padding-left: 25px;
			margin-bottom: 20px;
			cursor: pointer;
			user-select: none;
			.checkmark {
				position: absolute;
				top: 50%;
				left: 0;
				height: 16px;
				width: 16px;
				border: 2px solid #1C1C1C;
				transform: translateY(-50%);
				&:after {
			  		content: "";
				  	position: absolute;
				  	display: none;
				  	left: 0;
					right: 0;
					margin: 0 auto; 
					top: 50%;
					width: 8px;
					height: 8px;
					transform: translateY(-50%);
					background: #c5c5c5;
				}
			}
		 	input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
				&:checked ~ .checkmark {
					&:after {
		  				display: block;
					}	
				}
			}
		}
	}
	.check {
		@media (max-width: 640px) {
			font-size: 11px;
		}
		img {
			margin-right: 20px;
		}
	}
	.submit {
		margin: 60px auto;
		@media (max-width: 769px) {
			margin: 60px auto;
		}
	}
}
.slider-section .owl-carousel {
	.owl-animated-out {
		z-index: 1;
		h2,h3,p {
			animation: fadeOutDown 2s;
		}
		.zero {
			animation: fadeZero 1s;
		}
		img,.fade-span {
			animation: fadeOutDownImg 1s;
		}
	}
	.owl-animated-in {
		z-index: 0; 
		h2,h3,p {
			animation: fadeInUp 2s;
		}
		.zero {
			animation: fadeZero 1s;
		}
		img,.fade-span {
			animation: fadeFromTop 1s;
		}
	} 
}

.conditions .owl-carousel {
	.owl-animated-out {
		z-index: 1;
		.right-box {
			animation: fadeOutLeftText 1s;
		}
		.left-box {
			p {
				animation: fadeOutDownText 2s;
			}
			h2:before {
				animation: left-to-right-h2 2s;
			}
			span {
				animation: right-to-left-span 2s;
			}
		}
	}
	.owl-animated-in {
		z-index: 0;
		.right-box {
			animation: fadeInRightText 1s;
		}
		.left-box {
			p {
				animation: fadeInDownText 2s;	
			}
			h2:before {
				animation: left-to-right-h2 2s;
			}
			span {
				animation: right-to-left-span 2s;
			}
		}
	} 
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDownImg {
	from {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) scale(1);
		transform: translate3d(0, 0, 0) scale(1);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0) scale(0.6);
		transform: translate3d(0, 100%, 0) scale(0.6);
	}
}

@keyframes fadeOutDownImg {
	from {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) scale(1);
		transform: translate3d(0, 0, 0) scale(1);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0) scale(0.6);
		transform: translate3d(0, 100%, 0) scale(0.6);
	}
}

@-webkit-keyframes fadeFromTop {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0) scale(0.6);
		transform: translate3d(0, -100%, 0) scale(0.6);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) scale(1);
		transform: translate3d(0, 0, 0) scale(1);
	}
}

@keyframes fadeFromTop {
  	from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0) scale(0.6);
	    transform: translate3d(0, -100%, 0) scale(0.6);
  	}

  	to {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 0, 0) scale(1);
	    transform: translate3d(0, 0, 0) scale(1);
  	}
}

@-webkit-keyframes fadeZero {
  	from {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 0, 0) scale(1);
	    transform: translate3d(0, 0, 0) scale(1);
  	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) scale(1);
		transform: translate3d(0, 0, 0) scale(1);
  	}
}

@keyframes fadeZero {
	from {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) scale(1);
		transform: translate3d(0, 0, 0) scale(1);
  	}

  	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) scale(1);
		transform: translate3d(0, 0, 0) scale(1);
  	}
}

@-webkit-keyframes left-to-right {
	0% {
		right: -40px;
	}
	25% {
		right: -80px;
	}
	50% {
		right: 0;
	}
	100% {
		right: -40px;
	}
}

@keyframes left-to-right {
	0% {
		right: -40px;
	}
	25% {
		right: -80px;
	}
	50% {
		right: 0;
	}
	100% {
		right: -40px;
	}	
}

@-webkit-keyframes right-to-left {
	0% {
		right: 0px;
	}
	25% {
		right: 53px;
	}
	50% {
		right: -25px;
	}
	100% {
		right: 0px;
	}
}

@keyframes right-to-left {
	0% {
		right: 0px;
	}
	25% {
		right: 53px;
	}
	50% {
		right: -25px;
	}
	100% {
		right: 0px;
	}
}

@-webkit-keyframes fadeOutLeftText {
  	from {
    	opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-40px, 0, 0);
		transform: translate3d(-40px, 0, 0);
	}
}

@keyframes fadeOutLeftText {
	from {
    	opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-40px, 0, 0);
		transform: translate3d(-40px, 0, 0);
	}
}

@-webkit-keyframes fadeInRightText {
  	from {
    	opacity: 0;
    	-webkit-transform: translate3d(20%, 0, 0);
		transform: translate3d(20%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0px, 0, 0);
		transform: translate3d(0px, 0, 0);
	}
}

@keyframes fadeInRightText {
	from {
    	opacity: 0;
    	-webkit-transform: translate3d(20%, 0, 0);
		transform: translate3d(20%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0px, 0, 0);
		transform: translate3d(0px, 0, 0);
	}
}

@-webkit-keyframes fadeOutDownText {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}

@keyframes fadeOutDownText {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}

@-webkit-keyframes fadeInDownText {
	from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -20px, 0);
	    transform: translate3d(0, -20px, 0);
  	}

  	to {
	    opacity: 1;
	   	-webkit-transform: translate3d(0, 0px, 0);
	    transform: translate3d(0, 0px, 0); 
  	}
}

@keyframes fadeInDownText {
  	from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -20px, 0);
	    transform: translate3d(0, -20px, 0);
  	}

  	to {
	    opacity: 1;
	   	-webkit-transform: translate3d(0, 0px, 0);
	    transform: translate3d(0, 0px, 0); 
  	}
}

@-webkit-keyframes right-to-left-span {
	0% {
		left: 0px;
	}
	25% {
		left: -20px;
	}
	50% {
		left: 10px;
	}
	100% {
		left: 0px;
	}
}

@keyframes right-to-left-span {
	0% {
		left: 0px;
	}
	25% {
		left: -20px;
	}
	50% {
		left: 10px;
	}
	100% {
		left: 0px;
	}
}

@-webkit-keyframes left-to-right-h2 {
	0% {
		left: 0px;
	}
	25% {
		left: 20px;
	}
	50% {
		left: -10px;
	}
	100% {
		left: 0px;
	}
}

@keyframes left-to-right-h2 {
	0% {
		left: 0px;
	}
	25% {
		left: 20px;
	}
	50% {
		left: -10px;
	}
	100% {
		left: 0px;
	}
}