.footer {
    background: $light-black;
    min-height: 70px;
    .phone {
        font-size: 14px;
        color: $white;
    }
    #footer-menu {
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 175px;
            height: 50px;
            a {
                font-size: 14px;
                font-weight: bold;
                color: $white;
            }
        }
    }
    .copy {
        font-size: 14px;
        color: $white;
    }
}