#header {
    position: fixed;
    height: 60px;
    z-index: 99;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    .header-inner {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        .menu-mobile {
            display: none;
            width: 55px;
            height: 55px;
            border: 2px solid $white;
            border-radius: 50%;
            flex-shrink: 0;
            position: relative;
            z-index: 100;
            @media (max-width: 992px) {
                display: block;
                span {
                    width: 25px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 14px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    border-radius: 5px;
                    transition: all 0.3s;
                    &:nth-child(2) {
                        top: 24px;
                    }
                    &:nth-child(3) {
                        top: 35px;
                    }
                }
            }
        }
        #myMenu {
            height: 100%;
            flex-shrink: 0;
            li {
                width: 200px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &:hover:after {
                    content: '';
                    width: 50px;
                    height: 3px;
                    background: $light-black;
                    position: absolute;
                    bottom: 0;
                    left: 40px;
                }
                @media (max-width: 992px) {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    margin: 0;
                    min-height: 90px;
                    justify-content: space-around;
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        height: 3px;
                        width: 100%;
                        background: linear-gradient(0deg, rgb(29, 110, 153) 0%, rgba(185, 210, 223, 0.5) 69%, rgba(255, 255, 255, 0) 100%);
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                }
                @media (max-width: 640px) {
                    min-height: 50px;
                }
                &.active {
                    &:before {
                        content: '';
                        width: 50px;
                        height: 3px;
                        background: $light-black;
                        position: absolute;
                        bottom: 0;
                        left: 40px;
                    }
                }
                a {
                    position: relative;
                    color: $light-black;
                    font-weight: bold;
                }
            }
        }
        .show-menu {
            right: 0 !important;
        }
    }
}